@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}
