@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #E13333;
}

html {
    background: var(--background);
    color: var(--foreground);
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}