@import "tailwindcss";

:root {
  --background: #00000;
  --foreground: #FFFFF;
  --accent: #E13333;
}

html {
    background: var(--background);
    color: var(--foreground);
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: .5;
    display: grid;
}
.loader:before {
    content: "";
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto auto 0;
    background: var(--accent);
    animation: l9-0 .5s cubic-bezier(0,800,1,800) infinite;
}
.loader:after {
    content: "";
    width: 100%;
    aspect-ratio: 1/cos(30deg);
    margin: 0 auto auto;
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    background: white;
    animation: l9-1 .5s linear infinite;
}
@keyframes l9-0 {
    0%,2%  {translate: 0   0}
    98%,to {translate: 0 -.2%}
}
@keyframes l9-1 {
    0%,5%  {rotate:  0deg}
    95%,to {rotate:-60deg}
}